<ion-content>
  <div class="main_content">
    <ion-buttons slot="start" class="button_menu">
      <ion-menu-button color="light"> </ion-menu-button>
    </ion-buttons>
    <div class="content_name">
      <ion-label slot="end">Dashboard</ion-label>
    </div>
    <div class="sub_content">
      <div class="user">
        <ion-label class="label_big">Haiii,{{username}}</ion-label>
        <ion-label class="label_small">Prodev Adhivasindo</ion-label>
      </div>
      <ion-row>
        <ion-col>
          <ion-card class="card" *ngIf="groupcardadmin">
            <ion-card-header>
              <ion-card-title>Data Absensi Hari ini</ion-card-title>
              <ion-card-subtitle>
                Tanggal :<b>{{datenow()}}</b></ion-card-subtitle
              >
            </ion-card-header>
            <ion-card-content>
              Jumlah user yang sudah check in :<b *ngFor="let i of count_absen"
                >{{i.jmlh_user}}</b
              >
            </ion-card-content>
          </ion-card>

          <ion-card class="card" *ngIf="groupcarduser">
            <ion-card-header *ngFor="let i of absenId">
              <ion-card-title>Data Absen Terakhir :</ion-card-title>
              <ion-card-subtitle
                ><b>Tanggal : {{i.tanggal}}</b></ion-card-subtitle
              >
            </ion-card-header>
            <ion-card-content *ngFor="let i of absenId">
              <p class="p_content"><b>Waktu Check in : {{i.absen_masuk}}</b></p>
              <p class="p_content">
                <b>Waktu Check Out : {{i.absen_keluar}}</b>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="card_img" (click)="rfid()">
            <img
              (click)="rfid()"
              class="add_img"
              src="../../assets/icon/Rfid.png"
            />
            <img class="icon" src="../../assets/icon/centang.png" />
            <ion-label>Rfid</ion-label>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card_img" (click)="finger()" *ngIf="groupcardadmin">
            <img
              (click)="finger()"
              class="add_img"
              src="../../assets/icon/Finger.png"
            />
            <ion-label>Finger</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="card_img" (click)="dataabsen()">
            <img
              (click)="dataabsen()"
              class="add_img"
              src="../../assets/icon/absen.png"
            />
            <ion-label>Data Absensi</ion-label>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card_img" (click)="add()" *ngIf="groupcardadmin">
            <img
              (click)="add()"
              class="add_img"
              src="../../assets/icon/add-person.png"
            />
            <ion-label (click)="add()">Tambah User</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
