<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<ion-content id="main-content">
  <div class="main_content">
    <ion-buttons slot="start" class="button_menu">
      <ion-menu-button color="light"> </ion-menu-button>
    </ion-buttons>

    <div class="user">
      <div class="user_1">
        <ion-label class="username">Haiii, {{username}}</ion-label>
      </div>
      <div class="userimg"><img src="" /></div>
    </div>
    <div class="content_2">
      <div class="card">
        <ion-grid fixed>
          <!-- <ion-row>
            <ion-col>
              <div class="flex">
                <div class="round">
                  <img src="../../assets/icon/calender.png" />
                </div>
                <div class="detail"></div>
              </div>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col size="6">
              <div class="flex">
                <div class="round">
                  <img src="../../assets/icon/userid.png" />
                </div>
                <div class="detail">
                  <ion-label class="bold"> User ID </ion-label>
                  <ion-label class="small"> ID : {{userid}} </ion-label>
                </div>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="flex">
                <div class="round">
                  <img src="../../assets/icon/usergroup.png" />
                </div>
                <div class="detail">
                  <ion-label class="bold">User Group </ion-label>
                  <ion-label class="small"> {{groupid}} </ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="list">
        <ion-label>Edit Profile</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="list">
        <ion-label>Edit Profile</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="list">
        <ion-label>Edit Profile</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="list">
        <ion-label (click)="presentActionSheet()">Logout</ion-label>
        <ion-icon
          (click)="presentActionSheet()"
          name="chevron-forward-outline"
        ></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
