.main_content {
  position: relative;
  width: 100%;
  max-height: 800px;
  .button_menu {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .content_name {
    position: absolute;
    top: 30px;
    right: 20px;
    ion-label {
      color: white;
      font-size: 20px;
      font-weight: 300;
    }
  }
  .sub_content {
    width: 100%;
    background: linear-gradient(to right, #0a81d6, #09a3e0);
    padding: 40px;
    height: 260px;
    justify-content: space-between;
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
    .user {
      width: 100%;
      margin-top: 50px;
      border-radius: 100%;
      .user_img {
        width: fit-content;
        border-radius: 100%;
        background-color: rgb(184, 249, 196);
        width: 100px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
      .user_name {
        text-align: center;
        .big_name {
          color: white;
          font-family: cursive;
          font-size: 20px;
          display: block;
          text-transform: capitalize;
          font-weight: 500;
        }
        .small_name {
          color: white;
          font-size: 15px;
          text-transform: capitalize;
          font-weight: 100;
        }
      }
    }
  }
  .content {
    width: 100%;
    padding: 10;
    ion-icon {
      position: relative;
      margin-bottom: 20px;
      width: 25px ;
    }
    ion-label {
      margin-top: 10px;
      margin-left: 5px;
      margin-bottom: 10px;
    }
    .judul {
      font-size: 18px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      width: 100%;
    }
    .text {
      font-size: 15px;
    }
  }
  .card {
    background-color: #d1e4ec;
    box-shadow: 0px 5px 0px rgba(26, 19, 26, 0.5);
    ion-label {
      padding: 10px;
    }
  }
}

ion-menu::part(backdrop) {
  background-color: rgba(26, 19, 26, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}
